html, body {
    width: 100%;
  }
  
  body{
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      background: #34495e;
      background-repeat: no-repeat;
      background-image: url("");
      background-size: cover;
      background-attachment: fixed;
      font-family: Antic;
    }
    .header {
      overflow: hidden;
      background-color: #f1f1f1;
      padding: 20px 10px;
    }
    
    /* Style the header links */
    .header a {
      float: left;
      color: #191919;
      text-align: center;
      padding: 10px;
      text-decoration: none;
      font-size: 18px;
      line-height: 20px;
      border-radius: 10px;
    }
    
    /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
    .header a.logo {
      font-size: 40px;
      font-weight: bold;
    }
    
    /* Change the background color on mouse-over */
    .header a:hover {
      background-color: #ddd;
      color: black;
    }
    
    /* Style the active/current link*/
    .header a.active {
      background-color: dodgerblue;
      color: white;
    }
    
    /* Float the link section to the right */
    .header-right {
      float: right;
    }
    
    /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
    @media screen and (max-width: 500px) {
      .header a {
        float: none;
        display: block;
        text-align: left;
      }
      .header-right {
        float: none;
      }
    }
    
    .jumbotron{
      min-height: 400px; 
      padding: 80px;
      position: relative;
      margin: 10px 0px;
      overflow:hidden; 
      background: #1a1818;
      color:white;
      text-decoration: none;
      border-bottom: #e4ded0 7px solid;
      text-align: center;
      opacity: 0.8;
  }
  
  .jumbotron h1{
      margin-top: 100px;
      font-size:55px; 
      margin-bottom: 40px;
  }
  
  .jumbotron p{
      font-size: 28px;
      color: white;
  }
  
  
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    /* padding-left: 20px; */
  }
  
  .container section {
    width: 90%;
  }
  
  .container .Map {
      padding: 30px;
      background-color: white;
      font-size: 25px;
      display: flex;
      align-items: center;
  }
  
  .Map .text {
      margin-left: 20px;
  }

  
.statimg {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
  }
  
  
  .img, .text {
    flex-basis: 0;
    flex-grow: 1;
  }
  
  
  footer {
      margin-top: 10px;
      position: relative;
      overflow: hidden;
      background-color: #f1f1f1;
      padding: 0 15px;
  }